<style>
    .butt{
        display: inline-block; 
    background: #8C959D; 
    color: #fff; 
    padding: 1rem 1.5rem; 
    text-decoration: none; 
    border-radius: 3px; 
    }
</style>
<div style = "margin: 5px">Вітаю на тестовій сторінці</div>
<a class="butt" href="http://localhost:5000/users">Подивитися всіх користувачів</a>
<a class="butt" href="http://localhost:5000/cars">Подивитися всі машини</a>